.title {
    width: 300px;
    display: block;
    margin: 30px auto;
    background-color: #fff;
    border: 1px solid #ffcc00;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
}

.rightContent {
    position: fixed;
    left: 45%;
}

@media(min-width: 768px) {
    .title {
        width: 500px;
        margin: 50px auto;
    }

    h1 {
        font-size: 39px;
    }

    .rightContent {
        left: 65%;
    }
}


